/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  width: 1240px;
  background-color: #2b2b2b;
  margin: 0px auto;
}
/* global style end */

/* header style start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navabar ul li {
  width: 170px;
  height: 50px;
  float: left;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.btn-nav {
  width: 175px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background: #bfaff2;
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-left: 30px;
}
/* header style end */

/* banner style start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
}

.banner-title {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.banner-details {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.btn-banner {
  width: 175px;
  height: 50px;
  background: #f8d57e;
  color: #333;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 72px;
}
/* banner style end */

/* logo style start */
.logo-container {
  margin-top: 100px;
}
/* logo style end */

/* features style start */
.features-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.features-container {
  width: 311px;
  height: 240px;
}

.features-img {
  display: block;
  margin: 0px auto;
}

.features-title {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 32px;
}

.features-details {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.4;
  margin-top: 10px;
}
/* features style end */

/* review style start */
.review-container {
  width: 1080px;
  height: 460px;
  border-radius: 20px;
  background: #bfaff2;
  padding: 100px 87px;
  margin-top: 80px;
  margin-left: 80px;
}

.review-details {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 600;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 63px;
}

.user-name {
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.4;
}
/* review style end */

/* question style start */
.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;
}

.question-title {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.question-details {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.4;
  margin-top: 30px;
}

.btn-question {
  width: 175px;
  height: 50px;
  background: #f8d57e;
  color: #333;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
/* question style end */
